.navbar {
  height: 70px;
  background-color: rgba(33, 31, 32, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%; /* Ajuste para ocupar todo el ancho */
}

.navbar button {
  font-size: 18px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  background-color: #211f20;
  padding: 10px 20px; /* Ajuste para más espacio alrededor del texto */
}

.navbar button:hover {
  cursor: pointer;
  background-color: #2d2d2d;
}

.navbar img {
  height: 70px;
}

.navbar img:hover {
  cursor: pointer;
}

  